@import "../../../shared/colors.scss";

::ng-deep {
  /* ---------- Angular Material Overwrite ---------- */
  .mat-mdc-menu-content,
  .mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
    font-family: "RobotoCondensed" !important;
    font-weight: unset !important;
    letter-spacing: normal !important;
  }

  .mat-mdc-menu-content {
    padding: 0 !important;
  }

  .mat-mdc-menu-panel {
    border-radius: 0 !important;
    max-width: none !important;
  }

  // hide chevron
  .mat-mdc-menu-submenu-icon {
    display: none;
  }

  .mat-mdc-menu-item-highlighted {
    background-color: transparent !important;

    &.sub-menu-trigger {
      background-color: $shadow !important;
      color: $white !important;
    }
  }

  .language-select-menu {
    width: 117.17px;

    .menu-option {
      background-color: $black;
      height: 24px;
      min-height: 0;
      padding: 0;

      &:hover {
        .menu-option-content {
          .language-title {
            color: $black;
          }
        }
      }

      .menu-option-content {
        align-items: center;
        display: flex;

        .language-flag {
          height: 14px;
          padding: 0 0.5rem;
          width: 20px;
        }

        .language-title {
          color: $white;
          font-family: "RobotoCondensed";
          font-size: 11.6px;
          letter-spacing: normal;
        }
      }
    }
  }

  .nav-item-menu,
  .electric-menu,
  .acoustic-menu,
  .bass-menu,
  .accessories-menu,
  .lifestyle-menu,
  .service-menu,
  .media-menu {
    position: relative;
    top: 24px;
  }

  .nav-item-menu {
    padding: 12px 16px;

    &.electric-menu {
      right: 185px;
      width: 270px;
    }

    &.acoustic-menu {
      right: 291px;
      width: 380px;
    }

    &.bass-menu {
      right: 401px;
      height: 321.83px;
      width: 455px;
    }

    &.accessories-menu {
      right: 481px;
      width: 660px;
    }

    &.lifestyle-menu {
      height: 270px;
      right: 680px;
      width: 775px;
    }

    &.service-menu {
      right: 793px;
      width: 870px;
    }

    & > div {
      width: fit-content;
    }

    .menu-items-lists-container {
      display: flex;
      gap: 3rem;

      .menu-items-list-container {
        .list-title {
          border-bottom: 2px solid;
          font-size: 1.25rem;
          font-weight: 700;
          padding: 0 64px 8px 0;
        }

        .menu-items-list {
          margin-top: 8px;

          .bonus-items-container {
            margin-top: 24px;

            .menu-item-btn,
            .menu-item-link {
              font-weight: 700;
            }
          }
        }

        .menu-item-link,
        .menu-item-btn {
          height: 32px;
          min-height: unset;

          &:not(.mat-mdc-menu-item-highlighted) {
            background-color: transparent !important;
          }

          &.link-highlight {
            font-weight: 700;
            text-decoration: underline;
          }
        }

        .menu-item-link {
          &:hover {
            color: $shadow;
            text-decoration: underline;
          }
        }

        .menu-item-btn {
          &.sub-menu-trigger {
            &:hover {
              background-color: $shadow !important;
              color: $white;
            }
          }

          &:not(.sub-menu-trigger) {
            &:hover {
              background-color: transparent;
              color: $shadow;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .sub-menu {
    box-shadow: none !important;
    padding: 12px 16px;
    position: fixed;
    top: 125px;

    &.electric,
    &.acoustic {
      height: 410px;
    }

    &.bass {
      height: 321.83px;
    }

    &.electric,
    &.acoustic,
    &.bass {
      transform: translateX(15px) !important;
    }

    .sub-menu-info-panel {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 300px;

      .info-panel-image {
        height: 162.84px;
        width: 300px;
      }

      .info-panel-title {
        font-size: 1.125rem;
        font-weight: 700;
      }

      .info-panel-text {
        font-size: 0.825rem;
      }
    }

    .sub-menu-guitar-image {
      display: flex;
      justify-content: center;

      .guitar-image {
        width: 220px;
      }
    }

    .list-title {
      border-bottom: 2px solid;
      font-size: 1.25rem;
      font-weight: 700;
      padding: 0 16px 8px 0;
    }

    .sub-menu-items-list {
      margin-top: 8px;

      .sub-menu-item-link,
      .sub-menu-item-btn {
        background-color: transparent !important;
        height: 32px;
        min-height: unset;

        &.link-highlight {
          font-weight: 700;
          text-decoration: underline;
        }
      }

      .sub-menu-item-link {
        &:hover {
          color: $shadow;
          text-decoration: underline;
        }
      }

      .sub-menu-item-btn {
        &:hover {
          color: $shadow;
          text-decoration: underline;
        }
      }
    }
  }
}

.header {
  .top-bar {
    align-items: center;
    background-color: $black;
    display: flex;
    height: 40px;
    justify-content: center;

    .top-bar-content {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      width: 1280px;

      .links-container {
        display: flex;

        .link-container {
          border-right: 1px solid $paynesGray;
          padding: 0 10px;

          .link {
            color: $white;
            font-family: "RobotoCondensed";
            font-size: 11.6px;
            text-decoration: none;
          }
        }
      }

      .language-select-container {
        .language-select-btn {
          height: auto;

          .language-select-btn-content {
            align-items: center;
            color: $white;
            display: flex;
            font-family: "RobotoCondensed";
            font-size: 11.6px;
            gap: 0.25rem;
            justify-content: space-between;
            letter-spacing: normal;
          }
        }
      }
    }
  }

  .nav-bar {
    align-items: center;
    background-color: $nero;
    display: flex;
    height: 85px;
    justify-content: center;

    .nav-bar-content {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 1280px;

      .left-section {
        display: flex;
        gap: 56px;

        .home-link-container {
          .home-link {
            box-shadow: 0 0 10px 0 $nero;
            display: flex;
          }
        }

        .nav-menu-section {
          align-items: center;
          display: flex;
          gap: 1rem;

          .nav-link {
            .nav-link-trigger {
              color: $white;
              font-family: "RobotoCondensed";
              font-size: 16px;
              font-weight: bold;
              z-index: 1080;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      .right-section {
        .cart-container {
          .cart-link {
            color: $white;

            .cart-icon {
              height: 24px;
              width: 24px;
            }
          }
        }
      }
    }
  }
}
