<div class="header">
  <div class="top-bar">
    <div class="top-bar-content">
      <div class="links-container">
        <div class="link-container">
          <a
            class="link"
            href="https://www.gibson.com/en-US/garage"
            target="_blank"
            >GIBSON GARAGE</a
          >
        </div>
        <div class="link-container">
          <a
            class="link"
            href="https://www.gibson.com/en-US/Find-A-Store"
            target="_blank"
            >FIND A DEALER</a
          >
        </div>
        <div class="link-container">
          <a
            class="link"
            href="https://www.gibson.com/en-US/gibson-app"
            target="_blank"
            >GIBSON APP</a
          >
        </div>
      </div>

      <div class="language-select-container">
        <button
          mat-button
          class="language-select-btn"
          [matMenuTriggerFor]="languageMenu"
        >
          <div class="language-select-btn-content">
            <img
              class="language-flag"
              src="/assets/images/flags/usa-flag.svg"
            />
            <span class="language-title">UNITED STATES</span>
            <fa-icon [icon]="faChevronDown"></fa-icon>
          </div>
        </button>

        <mat-menu
          class="language-select-menu"
          #languageMenu="matMenu"
          yPosition="below"
        >
          <ng-template matMenuContent>
            @for (language of languageOptions; track $index) {
            <button mat-menu-item class="menu-option">
              <div class="menu-option-content">
                <img
                  class="language-flag"
                  [src]="'/assets/images/flags/' + language.image"
                />
                <div class="language-title">
                  {{ language.title | uppercase }}
                </div>
              </div>
            </button>
            }
          </ng-template>
        </mat-menu>
      </div>
    </div>
  </div>

  <div class="nav-bar">
    <div class="nav-bar-content">
      <div class="left-section">
        <div class="home-link-container">
          <a class="home-link" [routerLink]="['/']">
            <img src="/assets/images/logos/gibson-header-logo.svg" />
          </a>
        </div>

        <div class="nav-menu-section">
          @for (navItem of navConfig; track $index) {
          <div class="nav-link">
            <button
              class="nav-link-trigger"
              mat-button
              #menuTrigger="matMenuTrigger"
              [matMenuTriggerFor]="navItemMenu"
              (mouseenter)="toggleMenu(menuTrigger)"
            >
              {{ navItem.navTitle }}
            </button>

            <mat-menu
              [class]="
                'nav-item-menu ' +
                navItem.additionalClassNames?.toString()?.split(',')?.join(' ')
              "
              #navItemMenu="matMenu"
              xPosition="after"
              yPosition="below"
            >
              <ng-template matMenuContent>
                <div
                  class="menu-items-list-container"
                  *ngFor="let menuItemsList of navItem.menuItemsLists"
                >
                  <div class="list-title">{{ menuItemsList.listTitle }}</div>

                  <div class="menu-items-list">
                    <div
                      class="menu-item"
                      *ngFor="let menuItem of menuItemsList.menuItems"
                    >
                      <a
                        *ngIf="menuItem.itemLink; else withSubMenu"
                        class="menu-item-link"
                        [ngClass]="menuItem.additionalClassNames"
                        target="_blank"
                        [href]="menuItem.itemLink"
                        mat-menu-item
                        >{{ menuItem.itemTitle }}</a
                      >

                      <ng-template #withSubMenu>
                        <button
                          class="menu-item-btn"
                          [ngClass]="{
                            'sub-menu-trigger':
                              menuItem.subMenuType === SubMenuType.subMenu
                          }"
                          mat-menu-item
                          [matMenuTriggerFor]="subMenu"
                          (click)="
                            menuItem.subMenuType === SubMenuType.infoPanel &&
                              window.open(
                                menuItem.infoPanelConfig?.link,
                                '_blank'
                              )
                          "
                        >
                          {{ menuItem.itemTitle }}
                        </button>

                        <mat-menu
                          class="sub-menu"
                          [class]="navItem.navTitle | lowercase"
                          #subMenu="matMenu"
                        >
                          <ng-template matMenuContent>
                            <div
                              class="sub-menu-info-panel"
                              *ngIf="
                                menuItem.subMenuType === SubMenuType.infoPanel
                              "
                            >
                              <a
                                [href]="menuItem.infoPanelConfig?.link"
                                target="_blank"
                              >
                                <img
                                  class="info-panel-image"
                                  [src]="menuItem.infoPanelConfig?.image"
                                />
                              </a>
                              <div class="info-panel-title">
                                {{ menuItem.infoPanelConfig?.title }}
                              </div>
                              <div class="info-panel-text">
                                {{ menuItem.infoPanelConfig?.text }}
                              </div>
                            </div>

                            <div
                              class="sub-menu-items-container"
                              *ngIf="
                                menuItem.subMenuType === SubMenuType.subMenu
                              "
                            >
                              <div class="list-title">
                                {{ menuItem.itemTitle | uppercase }}
                              </div>

                              <div class="sub-menu-items-list">
                                <div
                                  class="sub-menu-item"
                                  *ngFor="
                                    let subMenuItem of menuItem.subMenuItems
                                  "
                                >
                                  <a
                                    *ngIf="
                                      subMenuItem.itemLink &&
                                        subMenuItem.subMenuType !==
                                          SubMenuType.guitarImage;
                                      else withSubMenu
                                    "
                                    class="sub-menu-item-link"
                                    target="_blank"
                                    [ngClass]="subMenuItem.additionalClassNames"
                                    [href]="subMenuItem.itemLink"
                                    mat-menu-item
                                    >{{ subMenuItem.itemTitle }}</a
                                  >

                                  <ng-template #withSubMenu>
                                    <button
                                      class="sub-menu-item-btn"
                                      mat-menu-item
                                      [matMenuTriggerFor]="subMenu"
                                      (click)="
                                        subMenuItem.subMenuType ===
                                          SubMenuType.guitarImage &&
                                          window.open(
                                            subMenuItem.itemLink,
                                            '_blank'
                                          )
                                      "
                                    >
                                      {{ subMenuItem.itemTitle }}
                                    </button>

                                    <mat-menu
                                      class="sub-menu"
                                      [class]="navItem.navTitle | lowercase"
                                      #subMenu="matMenu"
                                    >
                                      <ng-template matMenuContent>
                                        <div
                                          class="sub-menu-guitar-image"
                                          *ngIf="
                                            subMenuItem.subMenuType ===
                                            SubMenuType.guitarImage
                                          "
                                        >
                                          <a
                                            [href]="subMenuItem.itemLink"
                                            target="_blank"
                                          >
                                            <img
                                              class="guitar-image"
                                              [src]="subMenuItem.guitarImage"
                                            />
                                          </a>
                                        </div>

                                        <div
                                          class="sub-menu-info-panel"
                                          *ngIf="
                                            subMenuItem.subMenuType ===
                                            SubMenuType.infoPanel
                                          "
                                        >
                                          <a
                                            [href]="
                                              subMenuItem.infoPanelConfig?.link
                                            "
                                            target="_blank"
                                          >
                                            <img
                                              class="info-panel-image"
                                              [src]="
                                                subMenuItem.infoPanelConfig
                                                  ?.image
                                              "
                                            />
                                          </a>
                                          <div class="info-panel-title">
                                            {{
                                              subMenuItem.infoPanelConfig?.title
                                            }}
                                          </div>
                                          <div class="info-panel-text">
                                            {{
                                              subMenuItem.infoPanelConfig?.text
                                            }}
                                          </div>
                                        </div>
                                      </ng-template>
                                    </mat-menu>
                                  </ng-template>
                                </div>
                              </div>
                            </div>
                          </ng-template>
                        </mat-menu>
                      </ng-template>
                    </div>

                    <div
                      class="bonus-items-container"
                      *ngIf="menuItemsList.bonusItems"
                    >
                      <ng-container
                        *ngFor="let bonusItem of menuItemsList.bonusItems"
                      >
                        <a
                          *ngIf="bonusItem.itemLink; else withSubMenu"
                          class="menu-item-link"
                          [ngClass]="bonusItem.additionalClassNames"
                          target="_blank"
                          [href]="bonusItem.itemLink"
                          mat-menu-item
                          >{{ bonusItem.itemTitle }}</a
                        >

                        <ng-template #withSubMenu>
                          <button
                            class="menu-item-btn"
                            [ngClass]="{
                              'sub-menu-trigger':
                                bonusItem.subMenuType === SubMenuType.subMenu
                            }"
                            mat-menu-item
                            [matMenuTriggerFor]="subMenu"
                            (click)="
                              bonusItem.subMenuType === SubMenuType.infoPanel &&
                                window.open(
                                  bonusItem.infoPanelConfig?.link,
                                  '_blank'
                                )
                            "
                          >
                            {{ bonusItem.itemTitle }}
                          </button>

                          <mat-menu
                            class="sub-menu"
                            [class]="navItem.navTitle | lowercase"
                            #subMenu="matMenu"
                          >
                            <ng-template matMenuContent>
                              <div
                                class="sub-menu-info-panel"
                                *ngIf="
                                  bonusItem.subMenuType ===
                                  SubMenuType.infoPanel
                                "
                              >
                                <a
                                  [href]="bonusItem.infoPanelConfig?.link"
                                  target="_blank"
                                >
                                  <img
                                    class="info-panel-image"
                                    [src]="bonusItem.infoPanelConfig?.image"
                                  />
                                </a>
                                <div class="info-panel-title">
                                  {{ bonusItem.infoPanelConfig?.title }}
                                </div>
                                <div class="info-panel-text">
                                  {{ bonusItem.infoPanelConfig?.text }}
                                </div>
                              </div>

                              <div
                                class="sub-menu-items-container"
                                *ngIf="
                                  bonusItem.subMenuType === SubMenuType.subMenu
                                "
                              >
                                <div class="list-title">
                                  {{ bonusItem.itemTitle | uppercase }}
                                </div>

                                <div class="sub-menu-items-list">
                                  <div
                                    class="sub-menu-item"
                                    *ngFor="
                                      let subMenuItem of bonusItem.subMenuItems
                                    "
                                  >
                                    <a
                                      *ngIf="
                                        subMenuItem.itemLink;
                                        else withSubMenu
                                      "
                                      class="sub-menu-item-link"
                                      target="_blank"
                                      [ngClass]="
                                        subMenuItem.additionalClassNames
                                      "
                                      [href]="subMenuItem.itemLink"
                                      mat-menu-item
                                      >{{ subMenuItem.itemTitle }}</a
                                    >

                                    <ng-template #withSubMenu>
                                      <button
                                        class="sub-menu-item-btn"
                                        mat-menu-item
                                        [matMenuTriggerFor]="subMenu"
                                      >
                                        {{ subMenuItem.itemTitle }}
                                      </button>

                                      <mat-menu
                                        class="sub-menu"
                                        [class]="navItem.navTitle | lowercase"
                                        #subMenu="matMenu"
                                      >
                                        <ng-template matMenuContent>
                                          <div
                                            class="sub-menu-info-panel"
                                            *ngIf="
                                              subMenuItem.subMenuType ===
                                              SubMenuType.infoPanel
                                            "
                                          >
                                            <a
                                              [href]="
                                                subMenuItem.infoPanelConfig
                                                  ?.link
                                              "
                                              target="_blank"
                                            >
                                              <img
                                                class="info-panel-image"
                                                [src]="
                                                  subMenuItem.infoPanelConfig
                                                    ?.image
                                                "
                                              />
                                            </a>
                                            <div class="info-panel-title">
                                              {{
                                                subMenuItem.infoPanelConfig
                                                  ?.title
                                              }}
                                            </div>
                                            <div class="info-panel-text">
                                              {{
                                                subMenuItem.infoPanelConfig
                                                  ?.text
                                              }}
                                            </div>
                                          </div>
                                        </ng-template>
                                      </mat-menu>
                                    </ng-template>
                                  </div>
                                </div>
                              </div>
                            </ng-template>
                          </mat-menu>
                        </ng-template>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </ng-template>
            </mat-menu>
          </div>
          }
        </div>
      </div>

      <div class="right-section">
        <div class="cart-container">
          <a class="cart-link" [routerLink]="['/']"
            ><fa-icon
              class="cart-icon"
              [icon]="faCartShopping"
              size="xl"
            ></fa-icon
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
