$btn-background-1: #000000;

$footer-background-1: #f7f8fa;
$footer-background-2: #161616;
$footer-background-3: #292828;
$footer-border: #494949;
$footer-list-border: #ffffff;
$footer-list-link: #ffffff;
$footer-signup-btn: #ffffff;
$footer-subscribe-disclaimer: #000000;
$footer-social-icon-background: #84734d;
$footer-social-icon: #ffffff;

$header-topbar-background: #000000;
$header-topbar-divider: #45454a;
$header-topbar-link: #ffffff;

$language-dropdown-background: #000000;
$language-dropdown-text: #ffffff;
$language-dropdown-text-hover: #000000;

$nav-bar-background: #292828;
$nav-menu-item-text: #ffffff;
$nav-menu-item-text-hover: #86764e;
$nav-sub-menu-trigger-background: #86764e;
$nav-sub-menu-trigger-hover: #86764e;
$nav-sub-menu-trigger-text: #ffffff;
$nav-home-logo-box-shadow: #292828;
$nav-cart-icon: #ffffff;
