<div class="home-page">
  <div class="promo-bar">
    <div class="promo-bar-text">
      Get more time to pay with Klarna. Available at checkout!
    </div>
  </div>

  <div class="masthead-section">
    <div class="masthead-container">
      <div class="masthead-content">
        <div class="masthead-title">Holiday Gift Guide</div>

        <div class="masthead-text">
          Discover great gift ideas for every musician, Gibson fan, music lover,
          and budget. Dive in and find the ideal gift for everyone on your list.
        </div>

        <a
          class="masthead-btn"
          href="https://www.gibson.com/giftguide"
          target="_blank"
        >
          <div class="mashead-btn-text">SHOP THE GIFT GUIDE</div>

          <div class="masthead-btn-chevron">
            <fa-icon [icon]="faChevronRight" [size]="'sm'"></fa-icon>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="promos-section">
    <div class="promo">
      <div class="promo-img-container">
        <img
          src="/assets/images/pages/home/free-shipping-icon.png"
          class="promo-img"
        />
      </div>

      <div class="promo-text-container">
        <div class="promo-text-title">FREE SHIPPING</div>

        <div class="promo-text-content">On US online orders over $50.</div>
      </div>
    </div>

    <div class="promo">
      <div class="promo-img-container">
        <img
          src="/assets/images/pages/home/lifetime-warranty-icon.png"
          class="promo-img"
        />
      </div>

      <div class="promo-text-container">
        <div class="promo-text-title">LIFETIME WARRANTY</div>

        <div class="promo-text-content">
          Free, limited warranty on material and workmanship.
        </div>
      </div>
    </div>

    <div class="promo">
      <div class="promo-img-container">
        <img
          src="/assets/images/pages/home/financing-available-icon.png"
          class="promo-img"
        />
      </div>

      <div class="promo-text-container">
        <div class="promo-text-title">FINANCING AVAILABLE</div>

        <div class="promo-text-content">
          Options available through Klarna at checkout.
        </div>
      </div>
    </div>
  </div>

  <div class="shop-by-category-section">
    <div class="section-title">SHOP BY CATEGORY</div>

    <div class="category-links-container">
      <a
        class="category-link-container"
        href="https://www.gibson.com/page/gibson-les-paul"
        target="_blank"
      >
        <div class="category-link-logo">
          <img src="/assets/images/pages/home/sbc-les-paul.png" />
        </div>

        <div class="category-link-title-container">
          <div class="category-link-title">Les Paul</div>

          <fa-icon [icon]="faChevronRight" [size]="'sm'"></fa-icon>
        </div>
      </a>

      <a
        class="category-link-container"
        href="https://www.gibson.com/page/gibson-sg"
        target="_blank"
      >
        <div class="category-link-logo">
          <img src="/assets/images/pages/home/sbc-sg.png" />
        </div>

        <div class="category-link-title-container">
          <div class="category-link-title">SG</div>

          <fa-icon [icon]="faChevronRight" [size]="'sm'"></fa-icon>
        </div>
      </a>

      <a
        class="category-link-container"
        href="https://www.gibson.com/page/gibson-es"
        target="_blank"
      >
        <div class="category-link-logo">
          <img src="/assets/images/pages/home/sbc-es.png" />
        </div>

        <div class="category-link-title-container">
          <div class="category-link-title">ES</div>

          <fa-icon [icon]="faChevronRight" [size]="'sm'"></fa-icon>
        </div>
      </a>

      <a
        class="category-link-container"
        href="https://www.gibson.com/Guitars/Acoustic"
        target="_blank"
      >
        <div class="category-link-logo">
          <img src="/assets/images/pages/home/sbc-acoustic.png" />
        </div>

        <div class="category-link-title-container">
          <div class="category-link-title">Acoustic</div>

          <fa-icon [icon]="faChevronRight" [size]="'sm'"></fa-icon>
        </div>
      </a>

      <a
        class="category-link-container"
        href="https://www.gibson.com/Guitars/Designer"
        target="_blank"
      >
        <div class="category-link-logo">
          <img src="/assets/images/pages/home/sbc-designer.png" />
        </div>

        <div class="category-link-title-container">
          <div class="category-link-title">Designer</div>

          <fa-icon [icon]="faChevronRight" [size]="'sm'"></fa-icon>
        </div>
      </a>

      <a
        class="category-link-container"
        href="https://www.gibson.com/Guitars/Bass"
        target="_blank"
      >
        <div class="category-link-logo">
          <img src="/assets/images/pages/home/sbc-basses.png" />
        </div>

        <div class="category-link-title-container">
          <div class="category-link-title">Basses</div>

          <fa-icon [icon]="faChevronRight" [size]="'sm'"></fa-icon>
        </div>
      </a>
    </div>
  </div>
</div>
