<div class="footer">
  <div class="socials-section">
    <div class="socials-section-content">
      <div class="sign-up-section">
        <div class="sign-up-title">SIGN UP FOR NEWS & OFFERS</div>

        <a
          class="sign-up-btn"
          href="https://www.gibson.com/en-US/Email/Subscribe"
          target="_blank"
        >
          <span class="btn-text">SUBSCRIBE</span>
          <fa-icon [icon]="faChevronRight"></fa-icon>
        </a>

        <div class="disclaimer-text">
          By submitting this form, you agree to our
          <a class="disclaimer-link" href="http://www.gibson.com/Policy/Terms"
            >Terms & Conditions</a
          >
          and
          <a
            class="disclaimer-link"
            href="https://www.gibson.com/Privacy-Policy"
            >Privacy Policy</a
          >.
        </div>
      </div>

      <div class="social-follow-section">
        <div class="social-follow-section-content">
          <div class="section-title">Follow us:</div>

          <div class="social-links">
            <div class="social-link">
              <fa-icon [icon]="faInstagram" size="xl"></fa-icon>
            </div>
            <div class="social-link">
              <fa-icon [icon]="faTwitter" size="xl"></fa-icon>
            </div>
            <div class="social-link">
              <fa-icon [icon]="faYoutube" size="xl"></fa-icon>
            </div>
            <div class="social-link">
              <fa-icon [icon]="faFacebookF" size="xl"></fa-icon>
            </div>
            <div class="social-link">
              <fa-icon [icon]="faComments" size="xl"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-footer-section"></div>

  <div class="gibson-brands-section"></div>
</div>
